<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>视频详情</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="/staticm/css/common.css">
  <link rel="stylesheet" href="/staticm/css/detail.css">

  <script src="/staticm/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="/staticm/js/Global.js"></script>
</head>

<body style="background-color:#fff;">
  <!-- 头 -->
  {include file="common/header"}

  <!-- 详情页面 -->
  <div class="container">
    <!-- 标题 -->
    <div class="detail_title">
      <div class="">
        <h3 class="limitLine2">{$info.title}</h3>
        <!-- <span class="detail_date">2011-11-11</span> -->
      </div>
      {if condition="($is_buyed eq 0) && ($info['price'] > 0)"}
      <div class="detailBtn">
          <button class="mBtn buybtn">购买</button>
      </div>
      {/if}
    </div>
    <!-- 视频 -->
    {if condition="$is_buyed eq 1"}
    <div class="videoWrap posiRe">
      <video class="video positionCenter" src="{$info.video}" poster="" controls></video>
    </div>
    {/if}
    <!-- 内容 -->
    <div class="detail_content">
      {$info.content}
    </div>
  </div>
  <!-- 详情页面 end -->

  <!-- footer -->
  {include file="common/footer"}
  <script type="text/javascript" src="/statics/layer/layer.js"></script>
  <script type="text/javascript">
      $('.buybtn').click(function(){
          var video_id = "{$info.id}";
          layer.load(1);
          $.ajax({
            url: "{:url('mobile/video/submitOrder')}",
            type: 'post',
            dataType: 'json',
            data: {video_id: video_id},
            success:function(data){
                layer.closeAll();
                if(data.code == 400){
                    layer.msg(data.msg);
                } else {
                    layer.msg('下单成功');
                }
            }
          })
      })
  </script>
</body>

</html>