.project_flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project{
	border-bottom: 1px solid rgba(230,230,230,1);
	margin-bottom: 30px;
}

.project:last-child{
	border: none;
}

.project_title{
	margin-bottom: 30px;
}

.project_l{
	font-size:24px;
	font-weight:bold;
	color:rgba(62,62,62,1);
}

/*培训项目*/
.project_ul{
	display: flex;
	flex-wrap: wrap;
}

.project_ul li{
	width: 33.3%;
	padding: 0 10px 30px 10px;
}

.project_ul li a{
	display: flex;
}

.project_item_l{
	width: 68px;
	height: 68px;
	padding: 6px 0;
	margin-right: 15px;
	background:rgba(246,246,246,1);
	text-align: center;
}

.project_big{
	font-size:24px;
	font-weight:bold;
	color:rgba(62,62,62,1);
}

.project_small{
	font-size: 12px;
	color:rgba(153,153,153,1);
}

.project_ul li a:hover .project_item_l{
	background: rgba(11,78,161,1);
}

.project_ul li a:hover .project_big , .project_ul li a:hover .project_small {
	color: #fff;
}

.project_ul li a:hover .project_item_title{
	color:rgba(11,78,161,1);
}

.project_item_r{
	width: calc(100% - 85px)
}

.project_item_title{
	font-size:16px;
	color:rgba(61,61,61,1);
	margin-bottom: 8px;
}

.project_item_word{
	font-size:12px;
	color:rgba(77,77,77,1);
	line-height:20px;
}

/*知识行情*/
.study_title_l{
	font-size:18px;
	font-weight:bold;
	color:rgba(62,62,62,1);
}