<!DOCTYPE html>
<html>
<head>
    <title>{$site.name|default=''}-首页</title>
    {if isset($keywords)}
    <meta name="keywords" content="{$keywords}">
    {/if}
    {if isset($description)}
    <meta name="description" content="{$description}">
    {/if}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/common.css?v=1.2">
    <link rel="stylesheet" type="text/css" href="/statics/css/index.css?v=2">
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/statics/js/bootstrap.js"></script>

</head>
<body>
    <!-- 顶部菜单 -->
    {include file="common/header" /}
    <!-- 轮播图 -->
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            {foreach name="bannerList" item="item" key="k"}
            <li data-target="#myCarousel" data-slide-to="{$k}" {$k==0 ? ' class="active"' : ''}></li>
            {/foreach}
        </ol>   
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {foreach name="bannerList" item="item" key="k"}
            <div class="item {$k == 0 ? 'active' : ''}">
                <a href="{$item.link ? $item.link : 'javascript:;'}"><img src="{$item.image}" alt="{$item.title}"></a>
            </div>
            {/foreach}
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> 
    <!-- 中间主要内容 -->
    <div class="index_flex main">
        <!-- 左边 -->
        <div class="index_l">

            <!-- 热门项目 -->
            <!-- 标题 -->
            <div class="index_title index_flex">
                <div class="index_title_l">热门项目</div>
                <a href="{:url('index/project/index')}" class="index_title_r">更多 <img class="index_img" src="/statics/images/icons/you.png"></a>
            </div>
            <!-- 内容 -->
            <div class="index_content">
                {foreach name="project" item="item" key="k"}
                <div class="index_position index_flex index_article">
                    <div class="index_l thumbImg"><img src="{$project[0]['thumbimage']}"></div>
                    <div class="index_r desc">
                        <div><a class="index_content_title" href="{:url('index/project/detail', array('id'=>$item['id']))}">{$item.title}</a></div>
                        <div class="index_content_div index_small">
                            {:mb_substr($item.description, 0, 20)}
                        </div>
                        <div class="index_content_date index_small">{:date('Y-m-d', $item.createtime)}</div>
                    </div>
                </div>
                {/foreach}
                <!-- <ul class="index_content_ul">
                    {foreach name="project" item="item" key="k"}
                    <?php if($k<1){continue;}?>
                    <li><a class="over" href="{:url('index/project/detail', array('id'=>$item['id']))}">{$item.title}</a> <span class="index_small">{:date('Y-m-d', $item.createtime)}</span></li>
                    {/foreach}
                
                </ul> -->
            </div>


            <!-- 行业资讯 -->
            <!-- 标题 -->
            <div class="index_title index_flex">
                <div class="index_title_l">行业资讯</div>
                <a href="{:url('index/study/industryknowledge')}" class="index_title_r">更多 <img class="index_img" src="/statics/images/icons/you.png"></a>
            </div>
            <!-- 内容 -->
            <div class="index_content">
                {foreach name="knowledge" item="item" key="k"}
                <div class="index_position index_flex index_article">
                    <div class="index_l thumbImg"><img src="{$item.thumbimage}"></div>
                    <div class="index_r desc">
                        <div><a class="index_content_title" href="{:url('index/project/detail', array('id'=>$item['id']))}">{$item.title}</a></div>
                        <div class="index_content_div index_small">
                            {:mb_substr($item.description, 0, 20)}
                        </div>
                        <div class="index_content_date index_small">{:date('Y-m-d', $item.createtime)}</div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>

        <div class="index_r">
            <!-- 企业宣传片 -->
            <div class="index_flex index_title">
                <div class="index_title_l">企业宣传片</div>
                <!-- <a href="#" class="index_title_r">更多 <img class="index_img" src="/statics/images/icons/you.png"></a> -->
            </div>
            <!-- 内容 -->
            <div class="index_content index_position">
                <!-- <img src="/statics/images/img/img_480_290.png"> -->
                <!-- <img class="index_content_start" src="/statics/images/icons/start.png"> -->
               <video width="480" height="290"  src="{$site.index_video}" controls></video>
            </div>

            <!-- 项目推荐 -->
            <!-- 标题 -->
            <div class="index_title index_flex index_partner_container">
                <div class="index_title_l">合作伙伴</div>
                <a href="{:url('index/resource/partner')}" class="index_title_r">更多 <img class="index_img" src="/statics/images/icons/you.png"></a>
            </div>
            <!-- 内容 -->
            <div class="index_partner_content">
                {foreach name="parterList" item="item"}
                <img src="{$item.image}" alt="{$item.title}" width="150" height="85">
                {/foreach}
            </div>
        </div>
    </div>

    <!-- 底部 -->
    {include file="common/footer"}
</body>
</html>