<!DOCTYPE html>
<html>
<head>
	<title>资源中心-行业会展</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/common.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/index.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/resource.css">
	<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/js/bootstrap.js"></script>

</head>
<body>
	<!-- 顶部菜单 -->
	{include file="common/header"}
	<!-- 轮播图 -->
	<div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            {foreach name="adList" item="item" key="k"}
            <li data-target="#myCarousel" data-slide-to="{$k}" {$k==0 ? ' class="active"' : ''}></li>
            {/foreach}
        </ol>   
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {foreach name="adList" item="item" key="k"}
            <div class="item {$k == 0 ? 'active' : ''}">
                <a href="{$item.link ? $item.link : 'javascript:;'}"><img src="{$item.image}" alt="{$item.title}"></a>
            </div>
            {/foreach}
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> 
	<!-- 中间主要内容 -->
	<div class=" main">
		<h3 class="more_title">行业会展</h3>
		<ul class="resource_ul">
			{foreach name="list" item="item"}
			<li>
				<div class="resource_l">
					<div class="resource_l_big">{:date('m-d', $item.createtime)}</div>
					<div class="resource_l_small">{:date('Y', $item.createtime)}</div>
				</div>
				<div class="resource_r">
					<a class="resource_r_title over" href="{:url('index/resource/exhibitionDetail', array('id'=>$item.id))}">{$item.title}</a>
					<div class="resource_r_word">{$item.description}</div>
				</div>
			</li>
			{/foreach}
		</ul>
		<div id="paginate">{$list->render()}</div>
	</div>

	<!-- 底部 -->
	{include file="common/footer"}
</body>
</html>