<!DOCTYPE html>
<html>
<head>
	<title>行业资讯</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/common.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/project.css">
	<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/js/bootstrap.js"></script>

</head>
<body>
	<!-- 顶部菜单 -->
	{include file="common/header"}
	<!-- 面包屑导航 -->
	<ul class="bread breadcrumb">
	    <li><a href="#">学习中心</a></li>
	    <li class="active"><a href="javascript:;">行业资讯</a></li>
	</ul>
	<!-- 中间主要内容 -->
	<div class="main">
		<h3 class="more_title">行业资讯</h3>
		{foreach name="result" item="item"}
		<div class="project">
			<!-- 标题 -->
			<div class="project_title project_flex">
				<div class="study_title_l project_l">{$item.category_name}</div>
				<a href="{:url('index/study/knowledgeAll')}" class="index_title_r">更多 <img class="index_img" src="/statics/images/icons/you.png"></a>
			</div>

			<ul class="project_ul">
				{foreach name="$item.list" item="vo"}
				<li>
					<a href="{:url('index/study/knowledgeDetail', array('id'=>$vo.id))}">
						<div class="project_item_l">
							<div class="project_big">{:date('d', $vo.createtime)}</div>
							<div class="project_small">{:date('Y-m', $vo.createtime)}</div>
						</div>
						<div class="project_item_r">
							<div class="project_item_title">{$vo.title}</div>
							<div class="project_item_word">{$vo.description}</div>
						</div>
					</a>
				</li>
				{/foreach}
			</ul>
		</div>
		{/foreach}
	</div>

	<!-- 底部 -->
	{include file="common/footer"}
</body>
</html>