<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>培训项目</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="/staticm/css/weui.css">
  <link rel="stylesheet" href="/staticm/js/js-build/jquery-weui-build/dist/css/jquery-weui.min.css">
  <link rel="stylesheet" href="/staticm/css/common.css">
  <script src="/staticm/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="/staticm/js/js-build/jquery-weui-build/dist/js/jquery-weui.min.js"></script>
  <script src="/staticm/js/Global.js"></script>

</head>

<body style="background-color: #fff;">
  <!-- 头 -->
  {include file="common/header"}

  <!-- 培训项目 -->
  <div class="container">
    <div class="flexCenter containerHead">
      <span class="containerHeadText">联系我们</span>
    </div>

    <div class="pageContainer">
        {$info.content}
    </div>

</body>

</html>