<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>个人中心</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="/staticm/css/common.css">
  <link rel="stylesheet" href="/staticm/css/user.css">


  <script src="/staticm/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="/staticm/js/Global.js"></script>
</head>

<body class="register">
  <!-- 头 -->
  {include file="common/header"}

  <!-- 头像 -->
  <div class="marginWrap">
    <div class="container flexCenter flexBetween">
      <div class="headBox">
        <img class="head_pic" src="{$userinfo.avatar ? $userinfo.avatar : '/staticm/images/default.png'}" alt="">
      </div>
      <p class="name textOmit">宋倩茜</p>
      <!-- <img class="icon" src="/staticm/images/个人中心-进入@2x.png" alt=""> -->
      <form id="headPicForm" action="{:url('mobile/ajax/upload')}" method="post" enctype="multipart/form-data" style="display: none;">
        <input type="file" name="file">
    </form>
    </div>
  </div>

  <div class="padding15">
    <div class="flexCenter infoItem">
      <span>手机号</span>
      <input type="number" value="{$userinfo.mobile}">
    </div>
    <!-- <div class="flexCenter infoItem">
      <span>邮箱</span>
      <input type="email" value="youhaoren@qq.com">
    </div> -->
  </div>
  <div id="submitWrap">
    <button class="btn" id="submit" type="button" onclick="window.location='{:url('mobile/user/logout')}'">退出登录</button>
  </div>

    <script type="text/javascript" src="/statics/layer/layer.js"></script>
    <script src="/staticm/js/jquery.form.js"></script>
    <script type="text/javascript">
        <!--头像上传 -->
        $('.head_pic').click(function(){
            $('input[name=file]').click()
        })

        $('input[name=file]').change(function(){

          layer.load(1);
          $('#headPicForm').ajaxSubmit({
              dataType: 'json',
              success:function(data){
                  layer.closeAll();
                  if(data.code==1){
                      $('.head_pic').attr('src', data.data.url);
                      $.ajax({
                        url:"{:url('mobile/user/changeHeadPic')}",
                        type:'post',
                        data:{src:data.data.url}
                      })
                  } else {
                      layer.msg('上传失败');
                  }

              },
              error:function(){
                  layer.closeAll();
                  layer.msg('服务器错误');
              }
          })
      })
    </script>
</body>

</html>