<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="/staticm/css/common.css">
  <link rel="stylesheet" href="/staticm/css/register.css">


  <script src="/staticm/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="/staticm/js/Global.js"></script>
</head>

<body class="register">
  <!-- 头 -->
  {include file="common/header"}

  <div class="flexColumn">
    <!-- logo -->
    <div class="flexColumn logoWrap">
      <div class="logo">
        <img src="/staticm/images/timg.jpg" alt="logo">
      </div>
      <p>logo名称</p>
    </div>

    <!-- form -->
    <div>
      <form id="loginform" action="">
        <div class="flexCenter registerItem">
          <img class="itemIcon" src="/staticm/images/手机号@2x.png" alt="icon">
          <input type="text" id="account" name="account" placeholder="请输入手机号">
        </div>
        <div class="flexCenter registerItem">
          <img class="itemIcon" src="/staticm/images/密码@2x.png" alt="icon">
          <input type="password" id="password" name="password" placeholder="请输入密码">
          <span class="showPsword"></span>
        </div>
      </form>

      <div class="btnBox-register">
        <button class="mBtn" type="button" onclick="checkSubmit()">登录</button>
      </div>
    </div>
    <!-- form end -->

    <p class="logTip">
        <span><a href="{:url('mobile/user/register')}">立即注册</a></span>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <span><a href="#">忘记密码</a></span> -->
    </p>
  </div>

<script type="text/javascript" src="/statics/layer/layer.js"></script>
<script type="text/javascript">

    function checkSubmit()
    {
        var account = $.trim($('#account').val());
        var password = $.trim($('#password').val());

        if(account == ''){
            layer.msg('手机号不能为空!');
            return false;
        }
        if(!checkMobile(account) && !checkEmail(account)){
            layer.msg('手机号格式不正确!');
            return false;
        }
        if(password == ''){
            layer.msg('密码不能为空!');
            return false;
        }

        layer.load(2);
        $.ajax({
            type : 'post',
            url : '/index.php/mobile/User/login/t/'+Math.random(),
            data : $('#loginform').serialize(),
            dataType : 'json',
            success : function(res){
                layer.closeAll('loading');
                if(res.code == 1){
                    layer.msg('登录成功', {icon:1}, function(){
                        window.location.href = "{:url('mobile/user/index')}";
                    })
                }else{
                    layer.msg(res.msg);
                }
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                layer.msg('网络失败，请刷新页面后重试');
            }
        })

    }

    function checkMobile(tel) {
        //var reg = /(^1[3|4|5|7|8][0-9]{9}$)/;
        var reg = /^1[0-9]{10}$/;
        if (reg.test(tel)) {
            return true;
        }else{
            return false;
        };
    }

    function checkEmail(str){
        var reg = /^([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if(reg.test(str)){
            return true;
        }else{
            return false;
        }
    }

    //回车提交
    $(document).keyup(function(event){
        if(event.keyCode ==13){
            var isFocus=$("#verify_code").is(":focus");
            if(true==isFocus){
                checkSubmit();
            }
        }
    });
</script>
</body>

</html>