<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>注册</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="/staticm/css/common.css">
  <link rel="stylesheet" href="/staticm/css/register.css">


  <script src="/staticm/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="/staticm/js/Global.js"></script>
</head>

<body class="register">
  <!-- 头 -->
  {include file="common/header"}

  <div class="flexColumn">
    <!-- logo -->
    <div class="flexColumn logoWrap">
      <div class="logo">
        <img src="/staticm/images/timg.jpg" alt="logo">
      </div>
      <p>logo名称</p>
    </div>

    <!-- form -->
    <div>
      <form id="registerform" action="">
        <div class="flexCenter registerItem">
          <img class="itemIcon" src="/staticm/images/手机号@2x.png" alt="icon">
          <input type="text" id="mobile" name="mobile" placeholder="请输入手机号">
        </div>
        <div class="flexCenter registerItem">
          <img class="itemIcon" src="/staticm/images/验证@2x.png" alt="icon">
          <input type="text" id="code" name="code" placeholder="请输入验证码">
          <span class="getCode">获取验证码</span>
        </div>
        <div class="flexCenter registerItem">
          <img class="itemIcon" src="/staticm/images/密码@2x.png" alt="icon">
          <input type="password" id="password" name="password" placeholder="请输入密码">
          <span class="showPsword"></span>
        </div>
        <div class="flexCenter registerItem">
          <img class="itemIcon" src="/staticm/images/密码@2x.png" alt="icon">
          <input type="password" id="password_confirm" name="password_confirm" placeholder="再次确认密码">
          <span class="showPsword"></span>
        </div>
      </form>

      <div class="btnBox-register">
        <button class="mBtn" type="button" onclick="check_submit()">注册</button>
      </div>
    </div>
    <!-- form end -->

    <div class="goLogin">
      已有账号&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="{:url('mobile/user/login')}">去登录</a></span>
    </div>

    <p class="regTip">点击注册代表同意<span>使用协议</span>和<span>隐私策略</span></p>
  </div>

<script type="text/javascript" src="/statics/layer/layer.js"></script>
<script type="text/javascript">
    function check_submit(){
        var mobile = $.trim($('#mobile').val());
        var password = $.trim($('#password').val());
        var password_confirm = $.trim($('#password_confirm').val());
        var code = $.trim($('#code').val());

        if(mobile == ''){
            showErrorMsg('手机号不能为空!');
            return false;
        }
        if(!checkMobile(mobile)){
            showErrorMsg('手机号格式不正确!');
            return false;
        }
        if(code == ''){
            showErrorMsg('验证码不能为空!');
            return false;
        }
        if(password == ''){
            showErrorMsg('密码不能为空!');
            return false;
        }
        if(password_confirm != password){
            showErrorMsg('两次密码不一致');
            return false;
        }

        $.ajax({
            type : "POST",
            url:"{:url('mobile/User/register')}",
            dataType: "json",
            data: $('#registerform').serialize(),
            success: function(data){
                if(data.code == 1){
                    layer.msg(data.msg, {icon: 1},function(){
                        window.location.href = "{:url('mobile/user/index')}";
                    });
                }else{
                    layer.msg(data.msg, {icon: 2},function(index){
                        layer.close(index);
                    });
                }
            }
        });

    }

    // 发送手机短信
    function send_sms_reg_code(){
        var mobile = $('input[name="username"]').val();
        if(!checkMobile(mobile)){
            layer.alert('请输入正确的手机号码', {icon: 2});//alert('请输入正确的手机号码');
            return;
        }
        var url = "/index.php?m=Home&c=Api&a=send_validate_code&scene=1&type=mobile&mobile="+mobile;
        $.ajax({
            url:url,
            dataType: "json",
            success: function(res){
                if(res.status == 1)
                {
                    $('#count_down').attr("disabled","disabled");
                    intAs = {$tpshop_config['sms_sms_time_out']|default=60}; // 手机短信超时时间
                    jsInnerTimeout('count_down',intAs);
                    layer.alert(res.msg, {icon: 1});
                }else{
                    layer.alert(res.msg, {icon: 2});
                    verify('reflsh_code2')
                }
            }
        });
    }

    function showErrorMsg(msg){
        layer.msg(msg, {icon: 2});
    }

    $('#count_down').removeAttr("disabled");
    //倒计时函数
    function jsInnerTimeout(id,intAs)
    {
        var codeObj=$("#"+id);
        //var intAs = parseInt(codeObj.attr("IntervalTime"));

        intAs--;
        if(intAs<=-1)
        {
            codeObj.removeAttr("disabled");
        // codeObj.attr("IntervalTime",60);
            codeObj.text("发送");
            return true;
        }

        codeObj.text(intAs+'秒');
        //  codeObj.attr("IntervalTime",intAs);

        setTimeout("jsInnerTimeout('"+id+"',"+intAs+")",1000);
    };
    
    
    function checkMobile(tel) {
        // var reg = /(^1[3|4|5|7|8][0-9]{9}$)/;
        var reg = /^1[0-9]{10}$/;
        if (reg.test(tel)) {
            return true;
        }else{
            return false;
        };
    }
    
</script>
</body>

</html>