    <header>
        <div class="header_logo">LOGO</div>
        <ul class="header_ul">
            <li {if condition="CONTROLLER_NAME eq 'Index'"}class="header_ul_act"{/if}><a href="/">首页</a></li>
            <li {if condition="CONTROLLER_NAME eq 'About'"}class="header_ul_act"{/if}><a href="{:url('index/about/index')}">关于我们</a></li>
            <li {if condition="CONTROLLER_NAME eq 'Project'"}class="header_ul_act"{/if}>
                <a href="{:url('index/project/index')}">项目与服务</a>
                <ul class="header_ul_sel">
                    <!-- <li><a href="{:url('index/project/index')}">培训项目</a></li> -->
                    <li><a href="{:url('index/project/page', array('id'=>2))}">专业培训</a></li>
                    <li><a href="{:url('index/project/page', array('id'=>1))}">专业咨询</a></li>
                    <li><a href="{:url('index/project/page', array('id'=>3))}">国际商务</a></li>
                    <li><a href="{:url('index/project/page', array('id'=>4))}">参观学习</a></li>
                </ul>
            </li>
            <li {if condition="CONTROLLER_NAME eq 'Study'"}class="header_ul_act"{/if}>
                <a href="#">学习中心</a>
                <ul class="header_ul_sel">
                    <li><a href="{:url('index/study/video')}">培训视频</a></li>
                    <li><a href="{:url('index/study/ziliao')}">学习资料</a></li>
                    <li><a href="{:url('index/study/progress')}">研究进展</a></li>
                    <li><a href="{:url('index/study/industryKnowledge')}">行业知识</a></li>
                </ul>
            </li>
            <li {if condition="CONTROLLER_NAME eq 'Resource'"}class="header_ul_act"{/if}>
                <a href="{:url('index/resource/exhibition')}">资源中心</a>
                <ul class="header_ul_sel">
                    <li><a href="{:url('index/resource/exhibition')}">行业会展</a></li>
                    <li><a href="{:url('index/resource/link')}">重要链接</a></li>
                    <li><a href="{:url('index/resource/job')}">工作机会</a></li>
                    <li><a href="{:url('index/resource/partner')}">合作伙伴</a></li>
                </ul>
            </li>
            <li {if condition="CONTROLLER_NAME eq 'Contact'"}class="header_ul_act"{/if}><a href="{:url('index/contact/index')}">联系我们</a></li>
        </ul>
        <div class="header_login">
            <img src="/statics/images/icons/login_name.png">
            {if condition="$isLogin == true"}
            <a href="{:url('index/user/index')}">会员</a> / <a href="{:url('index/user/logout')}">注销</a>
            {else/}
            <a href="{:url('index/user/login')}">登录</a> / <a href="{:url('index/user/register')}">注册</a>
            {/if}
        </div>
    </header>