    <header>
        <div class="header_logo">LOGO</div>
        <ul class="header_ul">
            <li class="header_ul_act"><a href="#">首页</a></li>
            <li>
                <a href="#">项目与服务</a>
                <ul class="header_ul_sel">
                    <li><a href="#">培训项目</a></li>
                    <li><a href="#">专业咨询</a></li>
                    <li><a href="#">专业培训</a></li>
                    <li><a href="#">国际商务</a></li>
                    <li><a href="#">参与学习</a></li>
                </ul>
            </li>
            <li>
                <a href="#">学习中心</a>
                <ul class="header_ul_sel">
                    <li><a href="#">培训视频</a></li>
                    <li><a href="#">学习资料</a></li>
                    <li><a href="#">研究进展</a></li>
                    <li><a href="#">行业知识</a></li>
                </ul>
            </li>
            <li>
                <a href="#">资源中心</a>
                <ul class="header_ul_sel">
                    <li><a href="#">行业会展</a></li>
                    <li><a href="#">重要链接</a></li>
                    <li><a href="#">工作机会</a></li>
                    <li><a href="#">合作伙伴</a></li>
                </ul>
            </li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
        <div class="header_login">
            <img src="statics/images/icons/login_name.png">
            <a href="#">登录</a> / <a href="#">注册</a>
        </div>
    </header>