<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>网上报名</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="/staticm/css/common.css">

  <script src="/staticm/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="/staticm/js/Global.js"></script>
</head>

<body>
  <!-- 头 -->
  {include file="common/header"}

  <!-- 联系方式 -->
  <div class="container">
    <div class="flexCenter containerHead">
      <span class="containerHeadText">联系方式</span>
    </div>

    <div class="flexCenter inputItem">
      <span>公司名称</span>
      <input type="text" value="北京养殖有限公司">
    </div>
    <div class="flexCenter inputItem">
      <span>公司地址</span>
      <input type="text" value="北京海东城区青龙胡同112号广业大厦B座">
    </div>
    <div class="flexCenter inputItem">
      <span>固定电话</span>
      <input type="text" value="86-010-88244217">
    </div>
    <div class="flexCenter inputItem">
      <span>联系人</span>
      <input type="text" value="未提供">
    </div>
    <div class="flexCenter inputItem">
      <span>邮政编码</span>
      <input type="text" value="100007">
    </div>
  </div>

  <!-- 报名信息 -->
  <div class="container singupInfo">
    <div class="flexCenter containerHead">
      <span class="containerHeadText">报名信息</span>
    </div>
	<form id="enrollForm" action="{:url('mobile/project/enroll')}" method="post">
    <div class="flexCenter inputItem">
      <span>公司名称</span>
      <input type="text" name="company_name" value="" placeholder="请输入公司名称">
    </div>
    <div class="flexCenter inputItem">
      <span>公司地址</span>
      <input type="text" name="company_address" value="" placeholder="请输入公司地址">
    </div>
    <div class="flexCenter inputItem">
      <span>姓名</span>
      <input type="text" name="fullname" value="" placeholder="请输入姓名">
    </div>
    <div class="flexCenter inputItem">
      <span>电话</span>
      <input type="text" name="phone" value="" placeholder="请输入电话">
    </div>
    <div class="flexCenter inputItem">
      <span>邮箱</span>
      <input type="text" name="email" value="" placeholder="请输入邮箱">
    </div>
    <div class="flexCenter inputItem">
      <span>职位</span>
      <input type="text" name="position" value="" placeholder="请输入职位">
    </div>
    <div class="flexCenter inputItem">
      <span>专业</span>
      <input type="text" name="profession" value="" placeholder="请输入专业">
    </div>
    
		<input type="hidden" name="project_id" value="{$project_id}">
</form>
    <!-- submit btn -->
    <div class="btnBox">
      <button class="mBtn submitBtn" type="button">提交信息</button>
    </div>
  </div>

	<script type="text/javascript" src="/statics/layer/layer.js"></script>
 <script type="text/javascript">
	$(function(){
		$('.submitBtn').click(function(){
			var action = $('#enrollForm').attr('action');
			$.ajax({
				url: action,
				type: 'post',
				dataType: 'json',
				data: $('#enrollForm').serialize(),
				success: function(data){
					if(data.status == 1){
						layer.msg('报名成功', {icon:1, time:2000}, function(){
						});
					} else {
						layer.msg('报名失败');
					}
				},
				error:function(){
					layer.msg('服务器错误，请稍后再试');
				}
			})
		})
	})
</script>
</body>

</html>