<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>培训项目</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
  </script>

  <link rel="stylesheet" href="/staticm/css/weui.css">
  <link rel="stylesheet" href="/staticm/js/js-build/jquery-weui-build/dist/css/jquery-weui.min.css">
  <link rel="stylesheet" href="/staticm/css/common.css">

  <script src="/staticm/js/js-build/jquery-3.1.1.min.js"></script>
  <script src="/staticm/js/js-build/jquery-weui-build/dist/js/jquery-weui.min.js"></script>
  <script src="/staticm/js/Global.js"></script>
  <link rel="stylesheet" type="text/css" href="/plugin/layui/css/layui.css">
  <script type="text/javascript" src="/plugin/layui/layui.js"></script>
  <script type="text/javascript">
    layui.use('flow', function(){
      var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
      var flow = layui.flow;
      flow.load({
        elem: '#dateWrap', //指定列表容器
        isAuto: true,
        mb: 50,
        end: '没有更多数据',
        done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
          var lis = [];
          //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
          $.post('/index.php/mobile/project/index', {page:page}, function(res){
            res = JSON.parse(res);
            //假设你的列表返回在data集合中
            layui.each(res.list, function(index, item){
              
              var html = '';
              html += '<div class="dateContent">';
              html +=     '<h5 class="flexCenter">';
              html +=         '<span class="dateContentTitle">'+item.title+'</span>';
              html +=         '<span class="date">'+item.createtime+'</span>';
              html +=     '</h5>';
              html +=     '<p>'+item.description+'</p>';
              html += '</div>';

              lis.push(html);
            }); 
            //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
            //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
            next(lis.join(''), page < res.pages);  
          });
        }
      }); 
    });
  </script>
</head>

<body style="background-color: #fff;">
  <!-- 头 -->
  {include file="common/header"}

  <!-- 培训项目 -->
  <div class="container">
    <div class="flexCenter containerHead">
      <span class="containerHeadText">培训项目</span>
    </div>

    <div class="dateWrap" id="dateWrap">
    	<!-- {foreach name="list" item="item"}
            <div class="dateContent">
              <h5 class="flexCenter">
                <span class="dateContentTitle">{$item.title}</span>
                <span class="date">{$item.createtime}</span>
              </h5>
              <p>{$item.description}</p>
            </div>
            {/foreach} -->
    </div>


</body>

</html>