<!DOCTYPE html>
<html>
<head>
	<title>养殖平台官网-全部推荐</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/common.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/index_more.css">
	<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/js/bootstrap.js"></script>

</head>
<body>
	<!-- 顶部菜单 -->
	{include file="common/header"}
	<!-- 面包屑导航 -->
	<ul class="bread breadcrumb">
	    <li><a href="{:url('index/project/index')}">学习中心</a></li>
	    <li class="active"><a href="#">研究进展</a></li>
	</ul>
	<!-- 中间主要内容 -->
	<div class="main">
		<h3 class="more_title">研究进展</h3>
		<div class="more">
			{include file="study/all_left"}
			<div class="more_r">
				<ul class="more_r_ul">
					{foreach name="list" item="item"}
					<li>
						<a href="{:url('index/project/detail', array('id'=>$item.id))}">{$item.title}</a>
						<div class="more_small">{:date('Y-m-d', $item.createtime)}</div>
					</li>
					{/foreach}
				</ul>
				<div class="more_r_bottom ac">
					<ul class="pagination">
					   {$list->render()}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- 底部 -->
	{include file="common/footer"}
</body>
</html>