<!DOCTYPE html>
<html>
<head>
	<title>培训视频</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/common.css">
	<link rel="stylesheet" type="text/css" href="/statics/css/study.css">
	<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/js/bootstrap.js"></script>
	<script type="text/javascript" src="/statics/layui/layui.js"></script>

</head>
<body>
	<!-- 顶部菜单 -->
	{include file="common/header"}
	<!-- 面包屑导航 -->
	<ul class="bread breadcrumb">
	    <li><a href="#">学习中心</a></li>
	    <li class="active"><a href="#">培训视频</a></li>
	</ul>
	<!-- 中间主要内容 -->
	<div class="main">
		<div class="study_img ac"><img src="/statics/images/img/img_1020_400.png"></div>
		<div class="study_title">
			<div>
				<span class="study_name">项目</span>
				<select class="study_input" name="category_id">
					<option value="0">全部</option>
					{foreach name="category" item="cate"}
					<option value="{$cate.id}" {if condition="$category_id eq $cate.id"}selected{/if}>{$cate.name}</option>
					{/foreach}
				</select>
				<span class="study_name">时间</span>
				<input class="study_input" type="text" name="time" id="time" value="{$time}">
			</div>
			<!-- <a href="#" class="study_title_r">更多 <img class="index_img" src="/statics/images/icons/you.png"></a> -->
		</div>
		<!-- 主要内容 -->
		<ul class="study_ul">
			{foreach name="list" item="item"}
			<li>
				<a href="{:url('index/study/videoDetail', array('id'=>$item.id))}"><img class="study_ul_img" src="{$item.thumbimage}" width="226" height="162"></a>
				<a href="{:url('index/study/videoDetail', array('id'=>$item.id))}"><img class="study_ul_start" src="/statics/images/icons/start.png"></a>
				<p  class="study_ul_p"><a href="{:url('index/study/videoDetail', array('id'=>$item.id))}">{$item.title}</a></p>
			</li>
			{/foreach}
		</ul>
		<div id="paginate">{$list->render()}</div>
	</div>

	<!-- 底部 -->
	{include file="common/footer"}

<script type="text/javascript">
	layui.use('laydate', function(){
		 var laydate = layui.laydate;
		  
		  //常规用法
		laydate.render({
		   	elem: '#time',
		   	done: function(value, date){
      			var category_id = $('select[name=category_id]').val();
      			var time = value;
      			window.location.href = "/index.php/index/study/video/category_id/"+category_id+'/time/'+time;
   	 		}
		});
	})

	// 项目选择
	$('select[name=category_id]').change(function(){
		var category_id = $(this).val();
		var time = $('input[name=time]').val();
		window.location.href = "/index.php/index/study/video/category_id/"+category_id+'/time/'+time;
	})
</script>
</body>
</html>