<!DOCTYPE html>
<html>
<head>
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/statics//css/reset.css">
    <link rel="stylesheet" type="text/css" href="/statics//css/common.css">
    <link rel="stylesheet" type="text/css" href="/statics//css/index_detail.css">
    <link rel="stylesheet" type="text/css" href="/statics//css/resource.css">
    <link rel="stylesheet" type="text/css" href="/statics//css/personal.css">
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/statics//js/bootstrap.js"></script>

</head>
<body>
    <!-- 顶部菜单 -->
    {include file="common/header"}
    <!-- 面包屑导航 -->
    <div class="personal">
        <ul class="personal_bread breadcrumb">
            <li><a href="#">资源中心</a></li>
            <li class="active"><a href="#">工作机会</a></li>
        </ul>
        <div class="personal_flex">
            <div>
                <img class="personal_img" src="/statics//images/img/img_236_136.png">
                <span class="personal_name">张三三</span>
            </div>
            <div class="personal_qita">
                <span class="personal_qita_name">手机：</span>
                <span class="personal_qita_word">{$user.mobile}</span>
                <!-- <span class="personal_qita_name">邮箱：</span> -->
                <!-- <span class="personal_qita_word">youhaoren@qq.com</span> -->
            </div>
            <!-- <div class="personal_btn"><button class="common_btn">编辑</button></div> -->
        </div>
    </div>
    <!-- 中间主要内容 -->
    <div class="work main">
        <h3 class="more_title">我的课程</h3>
        <ul class="work_ul">
            <li>
                <div class="work_ul_title"><img src="/statics//images/icons/kecheng.png"> 法务主管</div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">工作经验</div>
                    <div class="work_ul_word">3-5年</div>
                </div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">工资待遇</div>
                    <div class="work_ul_word">10000-20000</div>
                </div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">公司名称</div>
                    <div class="work_ul_word">北京好待遇有限公司</div>
                </div>
                <div class="work_ul_btn ac"><button class="common_btn">播放</button></div>
            </li>
            <li>
                <div class="work_ul_title"><img src="/statics//images/icons/kecheng.png"> 法务主管</div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">工作经验</div>
                    <div class="work_ul_word">3-5年</div>
                </div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">工资待遇</div>
                    <div class="work_ul_word">10000-20000</div>
                </div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">公司名称</div>
                    <div class="work_ul_word">北京好待遇有限公司</div>
                </div>
                <div class="work_ul_btn ac"><button class="common_btn">播放</button></div>
            </li>
            <li>
                <div class="work_ul_title"><img src="/statics//images/icons/kecheng.png"> 法务主管</div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">工作经验</div>
                    <div class="work_ul_word">3-5年</div>
                </div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">工资待遇</div>
                    <div class="work_ul_word">10000-20000</div>
                </div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">公司名称</div>
                    <div class="work_ul_word">北京好待遇有限公司</div>
                </div>
                <div class="work_ul_btn ac"><button class="common_btn">播放</button></div>
            </li>
            <li>
                <div class="work_ul_title"><img src="/statics//images/icons/kecheng.png"> 法务主管</div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">工作经验</div>
                    <div class="work_ul_word">3-5年</div>
                </div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">工资待遇</div>
                    <div class="work_ul_word">10000-20000</div>
                </div>
                <div class="work_ul_flex">
                    <div class="work_ul_name">公司名称</div>
                    <div class="work_ul_word">北京好待遇有限公司</div>
                </div>
                <div class="work_ul_btn ac"><button class="common_btn">播放</button></div>
            </li>
        </ul>
    </div>

    <!-- 底部 -->
    {include file="common/footer"}
</body>
</html>